.round-button {
     display:block;
     width:50px;
     height:50px;
     border: 1px solid darkgray;
     border-radius: 50%;
     color:black;
     text-align:center;
     background: white;
     font-size:15px;
     outline: 0;
     float: left;
 }
.selectorContainer{
    padding-top: 5px;
}
.resultContainer{
     padding-top: 65px;
}
.toolbar{
    padding-top: 75px;
}

.toolbar-button{
    border: 1px solid darkgray;
    border-radius: 10%;
    text-align:center;
    outline: 0;
    height: 25px;
    width: 60px;
}
.toolbar-button:hover{
    background: lightblue;
}
.card{
    border: 1px solid darkgray;
    border-radius: 10%;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}

.round-button:hover {
    background: lightgrey;
}

.round-button.round-button-checked{
    background: yellow;
}

.round-button.round-button-checked:hover .round-button{
    background: yellow;
}

.roomCaption {
    font-family: "Helvetica";
    font-size: 8pt;
    color: darkgray;
}