.round-button {
    display:block;
    width:50px;
    height:50px;
    border: 1px solid darkgray;
    border-radius: 50%;
    color:black;
    text-align:center;
    background: white;
    font-size:15px;
    outline: 0;
    float: left;
}

.round-button:hover {
    background: lightgrey;
}

.round-button-checked .round-button{
    background: yellow;
}

.round-button-checked:hover .round-button{
    background: yellow;
}